:root {
  --brand-color: #3f7cacff;
  --black: #303030ff;
  --white: #f4f4f4ff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font: 1.125rem / 1.5 "Karla", system-ui, sans-serif;
  color: var(--black);
  background-color: var(--white);
}

header {
  background-color: var(--brand-color);
  padding: 1.5rem;
  text-transform: capitalize;
  color: var(--white);
  font-weight: bold;
  text-align: center;
  font-size: 3.5rem;
  font-family: "Young Serif";
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-family: "Inter", sans-serif;
}

.main-wrapper {
  max-inline-size: 70ch;
  margin: 0 auto;
}

section {
  flex: 1;
  padding: 0.618rem 1rem;
}

section:not(:last-child) {
  margin-block-end: 0.5rem;
}

.slideshow {
  scroll-snap-type: inline;
  overflow-x: auto;

  display: flex;
  gap: 1rem;

  padding: 0;

  /* Brutto ma volevo fare spazio velocemente */
  padding-block-start: 1.5rem;
}

.slide {
  flex: 0 0 200px;
  max-block-size: 100%;

  scroll-snap-align: center;
  scroll-snap-stop: always;

  /* Hide ::marker */
  display: inline-block;

  /* Hide vertical scrollbar which is there for only God knows why */
  /* There is no god in this universe */
  overflow: hidden;
}

.slide img {
  max-inline-size: 200px;
  max-block-size: 200px;
  object-fit: cover;
}

blockquote {
  text-align: center;
  color: #777;
  font-size: 1.2rem;
  font-family: "Loved by the King", cursive;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Young Serif";
  color: var(--brand-color);
  margin-top: 0;
}

h2 {
  font-size: 1.5rem;
  color: var(--black);
}

p {
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}

a {
  text-decoration-line: underline;
  text-decoration-color: var(--brand-color);
  text-decoration-thickness: 0.125rem;
  color: var(--black);
  font-weight: bold;
}
