:root {
  --brand-color: #ee6123;
  --black: #303030;
  --white: #f4fff8;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font: 1.125rem / 1.5 "Inter", system-ui, sans-serif;
  color: var(--black);
  background-color: var(--white);
}

header {
  padding: 1.5rem;
  text-transform: capitalize;
  color: var(--brand-color);
  font-weight: bold;
  text-align: center;
  font-size: 3.5rem;
  font-family: "Pacifico";
  box-shadow: 0 0 0.5rem var(--black);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-family: "Inter", sans-serif;
}

.main-wrapper {
  max-inline-size: 70ch;
  margin: 0 auto;
}

section {
  flex: 1;
  padding: 0.618rem 1rem;
}

section:not(:last-child) {
  margin-block-end: 0.5rem;
}

.slideshow {
  scroll-snap-type: inline mandatory;
  overflow-x: auto;

  display: flex;
  gap: 1rem;

  padding: 0;

  /* Brutto ma volevo fare spazio velocemente */
  padding-block-start: 1.5rem;
}

.slide {
  flex: 0 0 100%;
  max-block-size: 100%;

  scroll-snap-align: center;
  scroll-snap-stop: always;

  /* Hide ::marker */
  display: inline-block;

  /* Hide vertical scrollbar which is there for only God knows why */
  /* There is no god in this universe */
  overflow: hidden;
}

audio {
  /* Spazi a caso seeeee */
  margin-block-start: 0.5rem;
  inline-size: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
}

p {
  line-height: 1.6rem;
}
