:root {
  --brand-color: #3f7cacff;
  --black: #303030ff;
  --white: #f4f4f4ff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font: 1.125rem / 1.5 "Karla", system-ui, sans-serif;
  color: var(--black);
  background-color: var(--white);
}

header {
  background-color: var(--brand-color);
  padding: 1.5rem;
  text-transform: capitalize;
  color: var(--white);
  font-weight: bold;
  text-align: center;
  font-size: clamp(2.25rem, 10vw, 3.5rem);
  font-family: "Young Serif";
}

main {
  flex: 1;
  padding: 1rem;
  font-family: "Inter", sans-serif;
}

.main-wrapper {
  max-inline-size: 70ch;
  margin: 0 auto;
}

#consegne {
  display: flex;
  gap: 1.5rem;

  padding: 0;
  margin-block: 1.5rem;
  place-content: center;
  flex-wrap: wrap;
}

.box {
  flex: 1;

  display: flex;
  flex-direction: column;
  background: #eee;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  text-decoration: none;

  transition: 0.4s;

  &:hover {
    filter: brightness(0.95);
  }
}

.consegna {
  font-size: 6rem;
  margin: 0;
  text-align: center;
  line-height: initial;
  padding: 2rem;
}

.button {
  display: block;
  inline-size: 100%;
  padding: 1rem;
  margin: 0 auto;

  background: var(--brand-color);
  color: var(--white);
  border-end-start-radius: inherit;
  border-end-end-radius: inherit;
  transition: 0.4s;
}

.button:not(:active) {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

section {
  flex: 1;
  padding: 0.618rem 1rem;
}

section:not(:last-child) {
  margin-block-end: 0.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Young Serif";
  color: var(--brand-color);
  margin-top: 0;
}

h2 {
  font-size: 1.5rem;
  color: var(--black);
}

p {
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}

a {
  text-decoration-line: underline;
  text-decoration-color: var(--brand-color);
  text-decoration-thickness: 0.125rem;
  color: var(--black);
  font-weight: bold;
}
